<%= render 'shared/page_title', title: "Showing all Chefs" %>

<div align="center">
<%= will_paginate @chefs %>
  <% @chefs.each do |chef| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4-offset-4">
          <li> <%= link_to gravatar_for(chef), chef_path(chef) %> </li>
          <li class="chef-title"> <%= link_to chef.chefname.capitalize, chef_path(chef) %> </li>
          <li> <small> <%= pluralize(chef.recipes.count, "recipes") if chef.recipes %> </small> </li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @chefs %>
</div>
